<div class="solidblockmenu">
    <ul>	
	<li><a href="#">Panduan Pengguna SIA</a></li>
	<li><a href="mailto:gopanx@gmail.com">Hubungi Pengelola</a></li>
	<li><a href="http://akbidylpp.ac.id">Akademi Kebidanan YLPP Purwokerto</a></li>			
       </ul>	
</div>
<div class="container_12">
	<div class="grid_6"><span class="end-head-heading1"><%= nama_kampus %></span><br><span class="end-head-heading2"><br></span></div>
	<div class="clear"></div>
	
</div>