<div id="box" class="grid_6">
<div id="box-menu" style="width:440px">Informasi</div>
<b class="spacer" style="color:red;">Peringatan!!!</b><br>
<p>Mahasiswa memper-TANGGUNG-JAWAB-kan PENUH atas KEBENARAN DATA yang diisikan</p>
</div>

<div class="clear"></div>

<div id="box" class="grid_12">
	<div id="box-menu" style="width:920px">Lihat dan Edit Biodata</div>
	<%= render 'form' %>
</div>