<div id="search">
<form action="http://idkampus.com/v2/index.php/mata_kuliah/search" method="post"><div id="search-label">Kata Pencarian : </div><input type="text" name="search_mata_kuliah" value="" id="search-form" /><div id="search-label">Berdasarkan</div><select name="opsi_mk" id="search-form">
<option value="any" selected="selected">=== Any ===</option>
<option value="nama_jurusan">Jurusan</option>
<option value="nama_prodi">Program Studi</option>
<option value="semester">Semester</option>
<option value="sks">SKS</option>
</select><input type="submit" name="submit_search_mata_kuliah" value="Cari" id="search-submit-form" /><div id="clear"></div>
</form>
</div>