<div id="search">
<form action="http://idkampus.com/v2/index.php/dosen/search" method="post"><div id="search-label">Kata Pencarian : </div><input type="text" name="search_dosen" value="" id="search-form" /><div id="search-label">Berdasarkan </div><select name="opsi_dosen" id="search-form">
<option value="any" selected="selected">=== Any ===</option>
<option value="nama_dosen">Nama Dosen</option>
<option value="nip_dosen">NIP Dosen</option>
<option value="b.kategori_dosen">Status Sebagai</option>
</select><input type="submit" name="submit_search_dosen" value="Cari" id="search-submit-form" /><div id="clear"></div>
</form>
</div>