<noscript>
<div style="border:1px solid black;background:black;opacity:0.75;margin:auto auto auto auto;width:100%;height:100%;position:absolute;">
	<div id="warning" style="background:black;color:white;border:3px solid silver;position:absolute;left:25%;top:30%;margin:auto auto;width:50%;padding:10px;">
		<b style="color:red;font-size:18px;">Peringatan !!!</b><br>
		<br>
		Aktifkan Javascript Anda, agar <b>Program SISTEM INFORMASI KAMPUS berjalan dengan Lancar</b><br>
		 Activate <b>Enable Javascript</b> in your browser to run this Application smoothly<br>
		<br>
		 Set di Browser anda <b>Enable Javascript</b>, Kemudian <b>Refresh</b><br>
		 Set you browser preferences to <b>Enable Javascript</b>, Then Refresh your browser<br>
		<br>
		 Hubungi Administrator apabila anda tidak bisa mengubah browser menjadi <b>Enable Javascript</b>
		<br>
		Please Contact Administrator if you can not change browser options to <b>Enable Javascript</b>
	</div>
</div>
</noscript>